COMPOSE_PROJECT_NAME=e-commerce-prod

FRONTEND_PORT=8081
AUTH_PORT=3101
PRODUCT_PORT=3100
ORDER_PORT=3102

JWT_SECRET=change_me_for_local_prod
AUTH_MONGODB_URI=mongodb://auth-mongodb:27017/auth
PRODUCT_MONGODB_URI=mongodb://product-mongodb:27017/ecommerce
ORDER_MONGODB_URI=mongodb://order-mongodb:27017/orders

VITE_AUTH_SERVICE_URL=http://auth-service:3001
VITE_PRODUCT_SERVICE_URL=http://product-service:3000
VITE_ORDER_SERVICE_URL=http://order-service:3002
